<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      <lable>Thumbnail</lable>
      <input type="file" name="Thumbnail"><br><br>
        
      <lable>Picture</lable>
      <input type="file" name="Picture"><br><br>

      <lable>Description</lable>
      <textarea name="Description" cols="50" rows="5"></textarea><br><br>

      <lable name="Views">Views</lable>
      <input type="text" name="Views"><br><br>

      <label>Channel_Name</label>
      <input type="text" name="Channel_Name"><br><br>

      <label>Uploaded_Time</label>
      <input type="text" name="Uploaded_Time"><br><br>

      <input type="submit" value="Submit">
      
    </form>
  </body>
</html>